.pieChart {
    width: 30%;
    float: left;
    margin-bottom: 3cm;
}

.barChart {
    width: 50%;
    margin-bottom: 3cm;
    float: right;
}

.smallPieChart {
    width: 33%;
    float: left;
    margin-bottom: 3cm;
}

