body {
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}

.pieChart {
    width: 30%;
    float: left;
    margin-bottom: 3cm;
}

.barChart {
    width: 50%;
    margin-bottom: 3cm;
    float: right;
}

.smallPieChart {
    width: 33%;
    float: left;
    margin-bottom: 3cm;
}

.tableDiv {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3cm;
    clear: both;
    align-content: center;
}

.alignTextRight {
    text-align: right;
}

.alignTextLeft {
    text-align: left;
}