/* Colors */

.yellow        { color: #fdba00 !important; border-color: #fdba00 !important; }
.orange        { color: #ed4d17 !important; border-color: #ed4d17 !important; }
.cerise        { color: #e70074 !important; border-color: #e70074 !important; }
.purple        { color: #6e328f !important; border-color: #6e328f !important; }
.blue          { color: #00bbdb !important; border-color: #00bbdb !important; }
.btn.yellow:hover, .btn.yellow:active, .btn.yellow:focus { color: #fff !important; background:   #fdba00; }
.btn.orange:hover, .btn.orange:active, .btn.orange:focus { color: #fff !important; background:   #ed4d17; }
.btn.cerise:hover, .btn.cerise:active, .btn.cerise:focus { color: #fff !important; background:   #e70074; }
.btn.purple:hover, .btn.purple:active, .btn.purple:focus { color: #fff !important; background:   #6e328f; }
.btn.blue:hover, .btn.blue:active, .btn.blue:focus       { color: #fff !important; background:   #00bbdb; }


/* Typography */

h1, h2, h3, h4, h5, h6, .intro, .leaguespartansmall {
    font-family: 'League Spartan';
}

.leaguespartansmall {
    font-size: 1.0em;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 3px;
    text-rendering: optimizeLegibility;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 2px;
    text-rendering: optimizeLegibility;
    text-align: center;
}

h3, .intro {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}

h2 + h3 {
    margin-top: 10px;
}

@media(max-width: 1016px){
    h1 {
        font-size: 50px;
    }
}
@media(max-width: 500px){
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    h3, .intro {
        font-size: 18px;
        line-height: 28px;
    }
}

body {
    font: 18px/28px Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
}

.small {
    font-size: 16px;
}

@media(max-width: 740px){
    br {
        display: none; /* No forced line breaks in smaller sizes */
    }
}


/* Lists */

ol {
    list-style-type: none;
    counter-reset: ol-counter;
    padding: 0;
    margin: 20px 0;
    line-height: 32px;
}
ol li:before {
    content: counter(ol-counter) ".";
    counter-increment: ol-counter;
    display: inline-block;
    width: 24px;
}


/* Links */

a:active,
a:focus,
a:hover {
    text-decoration: underline;
}

a,
.btn {
    color: #00bbdb !important;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}


/* Buttons */

.btn {
    text-decoration: none !important;
}
.btn-default {
    background: none;
    border-radius: 0px;
    border: 2px solid black;
    box-shadow: none;
    text-shadow: none;
    font-family: "League Spartan";
    padding: 10px 20px;
}


/* Layout */

.container-fluid {
    max-width: 940px;
}
section, header {
    padding-bottom: 40px;
    border-bottom: solid 1px lightgray;
}

@media(max-width: 1016px){
    .container-fluid {
        margin: 0 4%;
    }
}


/* Header */

header {
    position: relative;
    text-align: center;
}
header img {
    position: absolute;
    width: 8%;
    max-width: 80px;
}
header .circle   { left:  0;     top: 0; }
header .plus1    { left:  120px; top: 10px; }
header .saw      { left:  70px;  top: -40px; }
header .triangle { right: 0;     top: 0; }
header .plus2    { right: 70px;  top: -30px; }
header .sine     { right: 110px; top: 20px; }

@media(max-width: 1016px){
    header img {
        position: static;
    }
}
@media(max-width: 740px){
    header img {
        width: 10%;
    }
}


/* Footer */

footer {
    margin-top: 1em;
    margin-bottom: 3em;
}
footer p {
    color: gray;
}

footer a {
    color: #2b2b2b !important;
}


/* Common elements */


.more .btn {
    margin-top: 20px;
}

.social {
    margin-top: 20px;
}

.social a {
    display: inline-block;
    margin-left: 5px;
}




.vertical-center {
    min-height: 100%;  /* Fallback for vh unit */
    min-height: 100vh; /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;

    /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
    /*width: 100%;*/

    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.

       Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.row, .tspacing {
    margin-top: 3em;
}

.tpadding {
    padding-top: 3em;
}

.collapse {
    clear: both;
}


ul.nav-pills>li {
    width: 50%;
    border: 2px solid black;
    margin: 0;
    font-family: 'League Spartan';
}

#firstPost .nav-pills.blue>li {
    border-color: #00bbdb;
}

#firstPost ul.nav-pills>li>a {
    border-radius: 0;
}

#firstPost .nav-pills.blue>li.active>a,
#firstPost .nav-pills.blue>li.active.blue>a:focus,
#firstPost .nav-pills.blue>li.active>a:hover {
    color: #00bbdb !important;
    background-color: transparent;
}

#firstPost .nav-pills.blue>li>a,
#firstPost .nav-pills.blue>li.blue>a:focus,
#firstPost .nav-pills.blue>li>a:hover {

    background-color: #00bbdb;
    color: #ffffff !important;
}

.alignTextRight {
    text-align: right;
}

.alignTextLeft {
    text-align: left;
}


@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }



/*#firstPost thead,*/
#firstPost table.dataTable thead th.sorting_disabled,
#firstPost table.dataTable thead th.sorting_desc,
#firstPost table.dataTable thead th.sorting_asc,
#firstPost .modal-header/*,
#firstPost .modal-footer*/ {

    /*background-color: #00bbdb;
    color: #ffffff;*/
    color: #00bbdb;
}

#firstPost table.dataTable thead th.sorting,
#firstPost .modal-header{
    /*color: #00bbdb;*/
    background-color: #00bbdb;
    color: #ffffff;
}

#firstPost table.dataTable thead th.sorting:hover,
#firstPost table.dataTable thead th.sorting_desc:hover,
#firstPost table.dataTable thead th.sorting_asc:hover {
    text-decoration: underline;
}


table.dataTable {
    border-collapse: collapse;
}

table thead {
    font-family: 'League Spartan';
    font-size: 14px;
}

#firstPost thead th {
    border: 2px solid #00bbdb;
}

#firstPost tbody td {
    padding: 6px 10px 6px 10px;
}


#firstPost thead th {
    padding: 10px 10px 10px 10px;
    background: none;
}

#firstPost table td:first-child,
#firstPost table th:first-child{
    padding-right: 0;
}

#firstPost table.dataTable.no-footer {
    border-bottom: 1px solid #00bbdb;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5em 0;
}

#firstPost #loveWordsTable .btn {
    padding: 0;
}

@media(max-width:767px){
    div.col-md-6:first-child {
        margin-bottom: 2em;
    }
}

.modal-content {
    border-radius: 0;
}

.dataTables_wrapper .dataTables_paginate {
    text-align: center;
    float: none;
}

div.dataTables_wrapper {
    margin-top: 2em;
}

#firstPost div.dataTables_paginate a.disabled {
    color: transparent !important;
}

#firstPost div.dataTables_paginate a.paginate_button {
    background: none;
    border: none;
}

#getData a {
    color: #e70074;
}
#getData img {
    width: 80px;
    float: left;
    margin-right: 30px;
}
#getData h3 {
    margin-top: 0;
    text-align: left;
}
@media(max-width: 740px){
    #getData {
        text-align: center;
    }
    #getData h3 {
        text-align: center;
    }
    #getData img {
        width: 50px;
        float: none;
        text-align: center;
        margin: 0px 0px 20px;
    }
}

text.highcharts-title {
    font-family: 'League Spartan';
    font-size: 14px !important;
}

svg {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}



.collapsing {
    -webkit-transition-duration: .55s;
         -o-transition-duration: .55s;
            transition-duration: .55s;

}


@media(min-width:768px) {
    #firstPost .tab-content > .tab-pane {
        display: block !important;
        visibility: visible;
        float: left;
        width: 50%;
    }

    #firstPost .nav-pills.blue>li>a,
    #firstPost .nav-pills.blue>li.blue>a:focus,
    #firstPost .nav-pills.blue>li>a:hover {
        text-decoration: initial !important;
        cursor: default;
    }
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    text-decoration: underline !important;
}