.yellow {
    color: #fdba00;
}

.orange {
    color: #ed4d17;
}

.cerise {
    color: #e70074;
}

.purple {
    color: #6e328f;
}

.blue {
    color: #00bbdb;
}

/* link colors */
div#firstPost a,
div#firstPost .btn-link,
div#firstPost .btn-link:active,
div#firstPost .btn-link:focus,
div#firstPost .btn-link:hover {
    color: #00bbdb !important;
}


div#firstPost a:active,
div#firstPost a:focus,
div#firstPost a:hover {
    text-decoration: underline !important;
}

h1, h2, h3, h4, h5, h6, .leaguespartan {
    font-family: 'League Spartan';
}

.leaguespartan {
    font-size: 1.2em;
}

h1, h2 {
    text-transform: uppercase;
}

.title h1 {
   /* font-size: 3em;
    /*display: none;*/


}

/*.container {
    width: 750px;
}*/

.vertical-center {
    min-height: 100%;  /* Fallback for vh unit */
    min-height: 100vh; /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;

    /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
    width: 100%;

    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.

       Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}



.title {
    /*margin-top: 5em;*/
    font-family: 'League Spartan';
}

.title p {
    margin-top: 2em;

}

.row {
    margin-top: 2em;
}


div.border {
    margin-top: 2.5em;
    border-bottom: solid 1px lightgray;
}

ul.nav-pills>li {
    width: 50%;
    border: 2px solid black;
    margin: 0;
}

div#firstPost .nav-pills.blue>li {
    border-color: #00bbdb;
}

div#firstPost ul.nav-pills>li>a {
    border-radius: 0;
}

div#firstPost .nav-pills.blue>li.active>a,
div#firstPost .nav-pills.blue>li.active.blue>a:focus,
div#firstPost .nav-pills.blue>li.active>a:hover {
    background-color: #00bbdb;
    color: #ffffff !important;
}

div#firstPost .nav-pills.blue>li>a,
div#firstPost .nav-pills.blue>li.blue>a:focus,
div#firstPost .nav-pills.blue>li>a:hover {
    color: #00bbdb;
}

.alignTextRight {
    text-align: right;
}

.alignTextLeft {
    text-align: left;
}


@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }



div#firstPost thead,
div#firstPost .modal-header,
div#firstPost .modal-footer {
    background-color: #00bbdb;
    color: #ffffff;
}

div#firstPost thead th {
    border-bottom: none;
}

div#firstPost tbody td {
    padding: 6px 18px;
}

div#firstPost table.dataTable.no-footer {
    border-bottom: 1px solid #00bbdb;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
}

div#firstPost #loveWordsTable .btn {
    padding: 0;
}

.btn {
    white-space: normal;
    text-align: left;
}

.modal-content {
    border-radius: 0;
}

.dataTables_wrapper .dataTables_paginate {
    text-align: center;
    float: none;
}

div.dataTables_wrapper {
    margin-top: 2em;
}

div#firstPost div.dataTables_paginate a.disabled {
    color: transparent !important;
}

div#firstPost div.dataTables_paginate a.paginate_button {
    background: none;
    border: none;
}

div.social {
    margin-top: 4em;
}

div.social i, div.get-data i {
    font-size: 1.5em;
}

div.social, div.get-data {
    margin-bottom: 2em;
}

div.authors {
    margin-top: 1em;
    margin-bottom: 3em;
}

div.social a, div.get-data a {
    color: #2b2b2b;
}

div.authors a {
    color: #2b2b2b;
}

div.social .fa-facebook {
    padding: 0 1em;
}

text.highcharts-title {
    font-family: 'League Spartan';
}

svg {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}